traitlets
pyjwt==1.7.1
requests==2.23.0
marshmallow==2.19.5
ipython==7.7.0
pillow
google-cloud-storage
gunicorn
eventlet
sqlalchemy
python-slugify
psycopg2-binary
geoalchemy2
cryptography
click==7.1.2
bson
python-socketio
pika
shapely
aiohttp
alembic==1.0.11
envelopes
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
flask
pytest
flasgger
flask_restful==0.3.8
